.show-more-create {
}
#show-more-create-plus {
  font-size: 18px;
  background: lightblue;
  text-align: center;
  cursor: pointer;
  postion: relative;
  top: 3px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}